<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bookmarklets</title>

    {% capture styles %}
      {% include style.scss %}
    {% endcapture %}
    
    <style>
    {{ styles | scssify }}
    </style>

    <!-- SEO -->
    <meta name="description" content="A list of potentially useful bookmarklets.">
    <meta name="keywords" content="Bookmarklets,Web,Development,CSS,Stats,PageSpeed,Insights,Front-end,Front,End,Dev,Tools">
    <meta name="author" content="Taylor Bryant">
    
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#603cba">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@tayl_rbryant">
    <meta name="twitter:creator" content="@tayl_rbryant">
    <meta name="twitter:url" content="http://front-end.tools">
    <meta name="twitter:title" content="Bookmarklets">
    <meta name="twitter:description" content="A list of potentially useful bookmarklets.">
    <meta name="twitter:image" content="http://bookmarklets.io/android-chrome-512x512.png">
    
    <!-- Schema.org -->
    <meta itemprop="name" content="Bookmarklets">
    <meta itemprop="description" content="A list of potentially useful bookmarklets.">
    <meta itemprop="image" content="http://bookmarklets.io/android-chrome-512x512.png">
  </head>
  <body>
    <div class="container">
